/*Обнуление*/
*{
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wraper {
overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100%;
}

.header {
/*background-image: url("../img/header-background.jpg");
height: 220px;
position: relative;
border-bottom-width: 2px;
border-style: solid;
border-image: linear-gradient(to right, #653f54, black) 1;*/*/
}

.header:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, #653f54, #030303);
	opacity: 0.4;
	z-index: 0;
}

.header-logo{
	width: 250px;
	/*border: solid 1px white;*/
	display: inline-block;
	margin: 0;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.header-logo img {

	/*border: solid 1px white;*/
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

}


.header__container{
	/*border: solid 1px white;*/
	max-width: 950px;
	height: 100%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;

}

.club-description {
	display: flex;
	text-transform: uppercase;
	justify-content: center;
	align-items: flex-end;
	height: 50px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	border: solid 1px white
	text-transform: uppercase;
	z-index: 1;
  font-weight: 500;
}

.club-name {
	/*border: solid 1px black;*/
	padding-top: 20px;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	letter-spacing: 15px;
	color: #ffe6ff;
	font-size: 50px;
	text-transform: uppercase;
	text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  	animation: shine 2s forwards, flicker 3s infinite;
  	z-index: 1;
}

.main {
	flex: 1 1 auto;
	background: rgb(60,60,60);
	background: linear-gradient(0deg, rgba(60,60,60,1) 0%, rgba(3,3,3,1) 100%);
	padding: 0 50px;
}

.main__container {
	/*border: solid 1px white;*/
	max-width: 1000px;
	height: 100%;
	margin: 0px auto;
	
	
}

.main-title {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 50px;
  padding-bottom: 20px;
	max-width: 100%;
	letter-spacing: 3px;
	line-height: 35px;
  font-weight: 450;
  border-bottom: solid 2px white;
  border-image: linear-gradient(to right, white, rgba(13,13,13,1)50%) 1;*/

}

.lover {
	color: #e8a7cc	;
}

.second__title{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
/*  letter-spacing: 3px;*/
  line-height: 35px;
  font-weight: 450;
  display: inline-block;
  padding-bottom: 10px;
}

.main__text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  /*font-weight: 450;*/
  letter-spacing: 0.03em;
  text-align: justify;
  line-height: 30px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px white;
  border-image: linear-gradient(to right,  rgba(31,31,31,1)50%, white) 1;
}

.main__text_left-photo {
  display: flex;
  padding-bottom: 20px;
  border-bottom: solid 2px white;
  border-image: linear-gradient(to left,  rgba(49,49,49,1)50%, white) 1;
}

.main__text_photo {
  margin-top: 20px;
/*  border: solid 1px white;*/
}

.text_right {
  padding-left:  20px;
  border-bottom: none;
}

.quote__container {
  margin-top: 70px;
  margin-bottom: 50px;
}

.quote__text {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 450;
font-size: 20px;
line-height: 35px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 10px;
}

.quote__author {
  font-family: 'Montserrat';
font-style: normal;
text-align: center;
font-weight: 450;
font-size: 15px;
line-height: 35px;
letter-spacing: 0.03em;

color: #E8A7CC;
}

.menu-list {
/*	border: solid 1px white;*/
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;

}

.menu-item {
	z-index: 1;
/*border: 2px solid white;*/
flex-basis: 135px;
justify-content: center;
}


.menu_link {
	border-radius: 3px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  position: relative;
  border: 2px solid white;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}
.menu_link:after {
	border-radius: 3px;
	justify-content: center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.menu_link:hover:after {
	border-radius: 3px;
  border-color: #e8a7cc;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  border-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  	animation: shine 2s forwards, flicker 3s infinite;

}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: black;
    text-shadow: none;
  }
  82%,
  97% {
    color: black;
    text-shadow: none;
  }
}

.flicker {
	  animation: shine 2s forwards, blink 3.5s 1s reverse infinite;
	}

.fast-flicker {
  animation: shine 3s forwards, blink 2s 0.7s  ;
}

@keyframes shine {
  0% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.footer {
background: #302129;
height: 80px;
}